.auth-container {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin-top: 100px;
    width: 100%;
  }
  
  .auth-login-container {
    margin-right: 50px; 
  }

  .auth-img-container {
    margin-top: 50px;
    display: none;
  }
  
  .auth-img-container img {
   width: 400px;
  }
  
  @media (min-width: 576px) {
    .auth-img-container {
      margin-top: 50px;
      display: unset;
    }
    .auth-img-container img {
      width: 200px;
    }
  }
  
  @media (min-width: 768px) {
    .auth-container {
      width: 100%;
      justify-content: center;
    }
    .auth-login-container {
      width: 500px;
    }
    .auth-img-container img {
      width: 100%;  
    }
  }