.home-container {
    padding: 5px;
}
.home-content {
    background-color: var(--primary-color);
    padding: 10px;
    border-top: 1px solid var(--dark-color);
    border-right: 1px solid var(--dark-color);
    max-width: 800px;
}

.home-content-container {
    display: flex;
    justify-content: center;
}

.home-img-container {
    display: none;
}

.about-home-bottom-text h2 {
    color: var(--dark-color);
}

.home-about-container {
    margin-top: 20px;
    max-width: 750px;
}

.home-progress-container {
    padding: 20px;
}

@media(min-width: 576px) {
    .home-img-container {
        display: unset;
        margin-top: 50px;
    }
    .home-img-container img {
        width: 100%;
    }

    .home-about-container {
        display: flex;
        justify-content: center;
    }
}

@media(min-width: 768px) {
    .home-div-text {
        flex-direction: row;   
    }
}
