@import url('https://fonts.googleapis.com/css2?family=David+Libre:wght@400;500;700&family=Explora&family=Lora:ital,wght@0,400;0,500;0,700;1,400&family=Open+Sans:wght@400;700&family=Roboto+Serif:ital,wght@0,400;0,700;1,500&family=Roboto:ital,wght@0,400;0,700;1,500&family=Sansita+Swashed:wght@400;600&family=Ubuntu:wght@400;700&display=swap');

*{
    box-sizing:  border-box;
    font-family: "David Libre", sans-serif;
}



body {
    margin: 0;
    background-color: var(--bg-color);
    color: var(--secondary-color);
}

:root{
    --bg-color:#312e2e;
    --primary-color: #1c1c1f;
    --secondary-color: #f2f5f7;
    --dark-color:rgb(15, 15, 15);
    --light-color: #94949434;
    --left-effect-color:rgb(0, 247, 255);
    --rigth-effect-color:rgb(181, 73, 190);
    --language-color:rgb(218, 214, 36);
}

h1,h2,h3,h4,h5,h6{
    margin: 0;
}

.base-card{
  border-radius: 10px;
  box-shadow: 0px 4px 20 px rgba(247, 247, 247, 0.1);
}

a{
  text-decoration: none;
}
